body {
  --fuchsia-pink-50: #fbf7fc;
  --fuchsia-pink-100: #f6eef9;
  --fuchsia-pink-200: #eeddf1;
  --fuchsia-pink-300: #e1c1e6;
  --fuchsia-pink-400: #d09cd6;
  --fuchsia-pink-500: #b164b9;
  --fuchsia-pink-600: #9e56a3;
  --fuchsia-pink-700: #834487;
  --fuchsia-pink-800: #6c396f;
  --fuchsia-pink-900: #5b335c;
  --fuchsia-pink-950: #39183a;

  background-color: #39183a;
  color: #d09cd6;
  margin-bottom: 10vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputDate {
  padding: 1vh;
  border-radius: 2vh;
  background-color: #39183a;
  color: #fbf7fc;
  border-color: #39183a;
}

#firstName,#lastName,#email,#useApi {
  margin: 0.75vh;
  border-radius: 2vh;
  padding-block: 5px;
  padding-inline: 1vh;
}

#subtitle {
  margin-top: 7vh;
}

#logout {
  left: 37vh;
}

#description {
  width: 57vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

header {
  color: #e1c1e6;
  top: 7vh;
  position: relative;
}

span {
  top: 5vh;
  position: relative;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  left: -40vh;
  top: -6vh;
  padding: 2vh;
  margin-right: 1vh;
  border-radius: 100%;
  border: 1px solid #6c396f;
  background-color: #6c396f;
  color: #d09cd6;
  position: relative;
}
img {
  width: 71vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > button {
  position: static;
  margin-top: 2.5vh;
}

@media (max-width: 902px) {
  button {
    position: sticky;
}
p, h2 , h3 , h4 {
  display: flex;
  width: 34vh;
}
header {
  top: 1vh;
}
span > h4 {
  display: flex;
  text-align: center;
}
#description {
  width: 33vh;
}
div,img {
  max-width: 42vh;
  width: 44vh;
}
}